<p>select a new car..</p>
<select id="car" onChange="myChange()">
  <option value="BMW">BMW</option>
  <option value="Audi">Audi</option>
  <option value="Mercedes">Mercedes</option>
  <option value="volvo">Volvo</option>
</select><br><br><br>
<p id="demo"></p>