<h1>Editing Registration</h1>

<%= render 'form', registration: @registration %>
<br>
<%= link_to 'Show', @registration , class:"btn btn-info"%> 
<%= link_to 'Back', registrations_path, class:"btn btn-info" %>
