<h1>Editing collageteacher</h1>

<%= render "form", collageteacher: @collageteacher %>

<br>

<div>
  <%= link_to "Show this collageteacher", @collageteacher %> |
  <%= link_to "Back to collageteachers", collageteachers_path %>
</div>
