<body>  
    <form id="myform">  
      <div class="container">  
      <center>  <h1> Jquery Validation Form</h1> </center>  
      <hr>  
      <label> <b>Firstname</b> </label>   
      <input type="text" name="firstname" placeholder= "Firstname" id="firstname" autocomplete="off"  />  <br>   
      <label> <b>Lastname:</b> </label>    
      <input type="text" name="lastname" placeholder="Lastname" id="lastname" autocomplete="off"  /> <br>
      <label> <b>Age:</b> </label>   
      <input type="text" name="age" placeholder="Age" id="age"  autocomplete="off" /> <br>
      <label> <b>DOB:</b> </label>   
      <input type="text" name="dob" placeholder="DOB" class='datepicker' id="dob"  /> <br>
      <label>   
      <label>   
      Course :  
      </label>   
      <select class="form-select js-example-basic-single" aria-label="Default select example" id="dropdown" multiple="multiple" >
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      </select><br><br>
     <b> Phone :  </b>
      </label>  
      <input type="text" name="phone" placeholder="phone no." id="phone" autocomplete="off" / > <br>    
      <label for="email"><b>Email</b></label>  
      <input type="text" placeholder="Enter Email" name="email" id="email" autocomplete="off"  > <br>
      <label for="url"><b>Url</b></label>  
      <input type="text" placeholder="Enter Url" name="url" id="url" autocomplete="off" > <br>
      <label for="psw"><b>Password</b></label>  
      <input type="password" placeholder="Enter Password" name="psw" id="psw" autocomplete="off"> <br> 
      <button type="submit" class="registerbtn">Register</button>   
     </div> 
    </form>  
</body>  