// Place all the styles related to the Achivements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: 80px;
    background-color: rgb(233, 151, 44);
    padding: auto;
}

h1 {
    font-size: 30px;
}